// .box
// .box-header
// .box-container

// .set-captured
// .set-captured-mobile
// .set-info

// .pokemon
// .captured
:root {
  --pokemon-box-size: 120px;
  --info-drawer-width: 350px;
  --info-drawer-button-width: 32px;
  --drawer-width: calc(var(--info-drawer-width) + var(--info-drawer-button-width));
}

.box {
  // display: block;
  // margin-top: 60px;

  .box-header {
    // @include flexbox();

    // margin-bottom: 10px;

    // h1 {
    //   @include flex(1 0);

    //   margin: 0;
    //   font-family: $font-secondary;
    //   font-size: 25px;
    //   font-weight: 700;
    // }

    .btn {
      // @include align-self(center);

      // height: auto;
      // width: auto;
      // padding: 8px 12px;
      // margin-left: 10px;
      // font-size: 10px;
    }
  }

  .box-container {
    display: grid;
    grid-template-columns: repeat(6, var(--pokemon-box-size));
    grid-template-columns: repeat(6, minmax(var(--pokemon-box-size), 1fr));
    grid-auto-rows: var(--pokemon-box-size);

    gap: 8px;
    justify-content: space-between;
  }
}

.pokemon {
  // width: var(--pokemon-box-size);
  width: 100%;
  height: var(--pokemon-box-size);

  &.pending {
    // background: rgba($brand-primary-light, .5);
  }

  .set-captured {
    width: var(--pokemon-box-size);
    height: var(--pokemon-box-size);
  }

  &.captured {
    .set-captured,
    .set-captured-mobile {
    }

    .game-family-legends_arceus {
    }
  }

  &.disabled {
    // opacity: .1;

    &:hover {
      // cursor: default;
    }
  }

  &:not(.empty):not(.disabled):hover {
    .set-info {
      // opacity: 1;

      &:hover {
        cursor: pointer;
        // right: -1px;
        // bottom: -1px;

        .fa-info {
          // border-color: darken($brand-secondary-dark, 5%);
          // color: darken($brand-secondary-dark, 5%);
          // width: 22px;
          // height: 22px;
          // margin: 3px;
        }
      }
    }

    &:not(.viewing) {
      // cursor: pointer;

      .set-captured,
      .set-capture-mobile:hover {
        // border-color: darken($brand-primary-light, 5%);
        // border-radius: 6px;
      }
    }
  }

  .game-family-legends_arceus {
    // background-color: rgba($gray-medium, .4);
  }
}

// .set-captured {
//   // @include flex-grow(1);
//   // @include flexbox();
//   // @include flex-direction(column);
//   // @include align-items(center);
//   // @include justify-content(center);

//   // border: 1px solid $gray-light;
//   // border-radius: 6px;

//   h4 {
//   //   margin: 0;
//   //   font-size: 17px;
//   //   font-weight: 400;
//   // }

//   .icon-wrapper {
//     // @include flexbox();
//     // @include align-items(center);

//     // height: 49px;
//   }

//   p {
//     // margin: 0;
//     // font-family: $font-secondary;
//     // font-size: 12px;
//     // font-weight: 400;
//   }
// }

// .set-captured-mobile {
//   // @include flex-grow(1);
//   // @include align-items(center);

//   display: none;
//   // border: 1px solid $gray-light;
//   // border-radius: 6px;

//   .icon-wrapper {
//     // min-width: 52px;
//     // text-align: center;
//     // padding: 0 6px;
//   }

//   h4 {
//     // @include flex-grow(1);

//     // margin: 0;
//     // font-size: 20px;
//     // font-weight: 400;
//   }

//   p {
//     // margin: 0;
//     // padding-right: 10px;
//     // font-family: $font-secondary;
//     // font-size: 11px;
//   }
// }

.set-info {
  // @include flexbox();

  // opacity: 0;
  // position: absolute;
  // right: 0;
  // bottom: 0;
  // padding: 5px;

  .fa-info {
    // border-radius: 50%;
    // border: 2px solid $brand-secondary-light;
    // color: $brand-secondary-light;
    // padding: 4px;
    // width: 21px;
    // height: 21px;
    // margin: 2px;
    // font-size: 14px;
  }
}

.container {
  container-type: inline-size;
}

@container (max-width: 900px) {
  :root {
    --info-drawer-width: 100%;
  }

  .box {
    .box-container {
      grid-template-columns: repeat(3, minmax(var(--pokemon-box-size), 1fr));
    }
  }
}

@container (max-width: 500px) {
  .box {
    .box-container {
      display: flex;
      flex-direction: column;
      // grid-template-columns: repeat(1, var(--pokemon-box-size));
    }
  }
}
