:root {
  --pokemon-box-size: 120px;

  --info-drawer-width: 350px;
  --info-drawer-button-width: 32px;
  --drawer-width: calc(var(--info-drawer-width) + var(--info-drawer-button-width));
}


.box-container, .search-results {
  display: grid;
  grid-template-columns: repeat(6, var(--pokemon-box-size));
  grid-template-columns: repeat(6, minmax(var(--pokemon-box-size), 1fr));
  grid-auto-rows: var(--pokemon-box-size);

  gap: 8px;
  justify-content: space-between;
}

.pokemon {
  width: 100%;
  height: var(--pokemon-box-size);

  // &.pending {
  // }

  .set-captured {
    width: 100%;
    height: var(--pokemon-box-size);
  }

  // &.captured {
  //   .set-captured,
  //   .set-captured-mobile {
  //   }

  //   .game-family-legends_arceus {
  //   }
  // }

  // &.disabled {
  //   // opacity: .1;

  //   &:hover {
  //     // cursor: default;
  //   }
  // }

  &:not(.empty):not(.disabled):hover {
    .set-info {
      // opacity: 1;

      &:hover {
        cursor: pointer;
      }
    }

    // &:not(.viewing) {
    //   // cursor: pointer;

    //   .set-captured,
    //   .set-capture-mobile:hover {
    //   }
    // }
  }

  // .game-family-legends_arceus {
  // }
}

// .set-captured {
//   h4 {
//   //   margin: 0;
//   //   font-size: 17px;
//   //   font-weight: 400;
//   // }

//   .icon-wrapper {
//     // height: 49px;
//   }
// }

// .set-captured-mobile {
//   display: none;
//   // border: 1px solid $gray-light;
//   // border-radius: 6px;

//   .icon-wrapper {
//     // min-width: 52px;
//     // text-align: center;
//     // padding: 0 6px;
//   }
// }

// .set-info {
//   // opacity: 0;
//   // position: absolute;
//   // right: 0;
//   // bottom: 0;
//   // padding: 5px;
// }

.container {
  container-type: inline-size;
}

@container (max-width: 900px) {
  :root {
    --info-drawer-width: 100%;
  }

  .box-container, .search-results {
    grid-template-columns: repeat(3, minmax(var(--pokemon-box-size), 1fr));
  }
}

@container (max-width: 500px) {
  .box-container, .search-results {
    display: flex;
    flex-direction: column;
  }
}

// .footer {
//   font-family: "Montserrat","Helvetica",sans-serif;
//   font-size: 10px;
//   text-transform: uppercase;
//   letter-spacing: 1px;
// }
